body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.main_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background-color: transparent;
  margin-top: 65px;
  align-items: center;
  left: 0;
}
.container-fluid {
  padding: 0;
}

.navbar-brand {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9c69e2;
  margin-right: 10px;
  margin-top: auto;
}

.rectangle {
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background-color: #f063b8;
  margin-top: auto;
}

.navbar-nav {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding-right: 200px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: auto 0;
  padding-right: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #212353;
}

.bold_item {
  font-weight: 800;
}

.btn {
  display: flex;
  width: 210px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.rd {
  margin-right: 15px;
  margin-top: 2px;
  color: #212353;
}

header {
  display: flex;
  flex-direction: row;
  margin: 170px 0;
}

.container-head {
  display: flex;
}

.rightSide,
.leftSide {
  height: fit-content;
}

.rightSide {
  position: relative;
  width: 50%;
}

.rightSide1 {
  left: -220px;
  top: 140px;
}

.leftSide {
  display: flex;
  flex-direction: column;
}

.img2 {
  position: absolute;
  width: 900px;
  height: 600px;
  left: -350px;
  top: 30px;
}

.h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  margin-bottom: 70px;
  font-family: "Lato";
  color: #212353;
  z-index: 2;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 50px;
  font-family: "Lato";
  color: #212353;
}

.h2white {
  color: #ffffff;
  margin-bottom: 88px;
  position: absolute;
}

.h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  z-index: 3;
}

.h3-features {
  font-weight: 700;
  color: #212353;
}

.h4 {
  width: 65%;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #4b5d68;
  z-index: 3;
}

.h4full {
  width: 80%;
  margin: 20px 0;
}

.h4features {
  width: 55%;
}

.h5 {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 900;
  color: #212353;
  margin-left: 20px;
  margin-bottom: 10px;
}

.h6 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #212353;
  letter-spacing: 0.01em;
  margin-bottom: 25px;
}

.h7 {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #212353;
  letter-spacing: 0.01em;
}

.h8 {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  color: #212353;
}

.btn-learn {
  width: 170px;
  margin-top: 70px;
  background-color: #9c69e2;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  box-shadow: none;
}

.pink_wrapper {
  display: flex;
  flex-direction: row;
  width: 1117px;
  height: 560px;
  margin: 0 auto;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.pinkLeft {
  display: flex;
  margin: auto;
}

.img3 {
  width: 400px;
  height: 300px;
}

.pinkRight {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding-right: 90px;
}

.features {
  margin: 100px 0;
}

.headings_center {
  margin: 100px auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bg-box-container {
  display: flex;
  width: 96%;
  height: fit-content;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.bg-box {
  display: flex;
  width: 50%;
  height: 360px;
  margin-bottom: 50px;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.bg-box:nth-child(1) {
  background-image: url(bg1.png);
}

.bg-box:nth-child(2) {
  height: 368px;
  background-image: url(bg2.png);
}

.bg-box:nth-child(3) {
  background-image: url(bg3.png);
}

.bg-box:nth-child(4) {
  background-image: url(bg4.png);
}

.bg-left {
  display: flex;
  padding-left: 70px;
}

.bg-right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 30px;
}

.bottom-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.lm {
  font-family: "Lato";
  font-weight: 800;
  font-size: 16px;
  margin-right: 15px;
  color: #212353;
  text-decoration: none;
}

.testimonials {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 150px;
}

.purple_wrapper {
  display: flex;
  flex-direction: column;
  width: 1118px;
  height: 709px;
  margin: 0 auto;
  padding: 111px 0 128px 60px;
  border-radius: 50px;
  background-color: #9c69e2;
}

.windows {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 330px;
  margin-top: 140px;
}

.left {
  display: flex;
  justify-content: end;
  height: fit-content;
}

.circle1 {
  width: 90px;
  height: 90px;
  margin: 60px 40px 180px 70px;
  border-radius: 50%;
  background-image: url(man.jpg);
  background-size: contain;
  background-position: center;
}

.right {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.name {
  font-size: 18px;
  font-weight: 900;
  line-height: 29px;
  color: #212353;
  margin-top: 80px;
}

.position {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #9c69e2;
  margin-bottom: 19px;
}

.description {
  width: 90%;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
  margin-bottom: 50px;
}

.window1 {
  display: flex;
  flex-direction: row;
  width: 645px;
  height: auto;
  margin-right: 23px;
  background: #ffffff;
  box-shadow: 0px 20px 0px rgb(100 52 166 / 30%);
  border-radius: 20px;
}

.window2 {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: auto;
  background: #fff;
  border: 1px solid #9c69e2;
  border-radius: 20px;
  margin-right: 14px;
  box-shadow: 0px 20px 0px rgb(101 82 126 / 10%);
}

.circle2 {
  width: 90px;
  height: 90px;
  margin: 60px 30px 180px 30px;
  border-radius: 50%;
  background-image: url(woman.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description2 {
  position: relative;
  line-height: 180%;
}

.description2::before {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #fff, transparent);
}

.circle3 {
  width: 90px;
  height: 90px;
  margin: 60px 30px 180px 30px;
  border-radius: 50%;
  background-image: url(man2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dots-vectors {
  display: flex;
  margin: 528px 0;
  align-items: center;
  justify-content: space-between;
}

.dots,
.vectors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.big-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f063b8;
  margin-right: 10px;
}

.small-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
}

.vectors {
  display: inline;
  padding-right: 75px;
}

.strap {
  width: 100%;
  height: 2px;
  margin-bottom: 100px;
  background-color: #9c69e2;
  opacity: 0.2;
}

.contact_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.wide {
  width: 100%;
}

.head_right {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
}

.pink {
  margin-right: 30px;
  margin-top: 0;
  background-color: #f063b8;
}

.btn-span {
  margin-right: 15px;
}

.data-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: space-between;
}

.brand-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.address,
.about-items,
.help-items,
.social-media {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.address {
  margin-right: 50px;
}

.about-items {
  padding-left: 130px;
  margin-right: 25px;
}

.help-items {
  padding-right: 130px;
}

.data_p {
  margin-bottom: 65px;
}

ul {
  padding: 0;
}
li {
  margin-bottom: 25px;
}

.icons {
  display: flex;
  flex-direction: row;
}

i {
  font-size: 50px;
  color: #212353;
  opacity: 0.1;
  margin-right: 30px;
}

.footer-items {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  margin-bottom: 100px;
  justify-content: space-between;
}

.elipse {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #b9b0c9;
  opacity: 0.2;
  margin-right: 50px;
}

.icon-f {
  font-size: 50px;
  color: #212353;
}
