body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.main_container {
  display: flex;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background-color: transparent;
  margin-top: 65px;
  align-items: center;
  left: 0;
}
.container-fluid {
  padding: 0;
}

.navbar-brand {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9c69e2;
  margin-right: 10px;
  margin-top: auto;
}

.rectangle {
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background-color: #f063b8;
}

.navbar-nav {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding-right: 200px;
  color: #4b5d68;
}

.nav-item {
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
}

.bold_item {
  font-weight: 800;
}

.btn {
  display: flex;
  width: 210px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.vector {
  display: flex;
  margin-left: 10px;
  color: #9c69e2;
  font-size: 25px;
  padding-bottom: 3px;
}

header {
  display: flex;
  flex-direction: row;
  margin: 170px 0;
  background-image: url(image2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 600px;
  background-position-y: 55px;
}

.container-head {
  display: flex;
  flex-direction: column;
}

.h1 {
  width: 70%;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  margin-bottom: 60px;
  font-family: "Lato";
  color: #212353;
}

.h4 {
  width: 40%;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 60px;
  color: #4b5d68;
}

.btn-learn {
  width: 170px;
  background-color: #9c69e2;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  box-shadow: none;
}

.pink_wrapper {
  display: flex;
  flex-direction: row;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.rightSide,
.leftSide {
  width: 50%;
  height: fit-content;
}

.rightSide {
  justify-content: right;
}
