body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.main_container {
  width: 80%;
}

.main_container,
.leftSide,
.pinkRight,
.bg-right,
.headings_center,
.purple_wrapper,
.right,
.address,
.about-items,
.help-items,
.social-media {
  display: flex;
  flex-direction: column;
}

.main_container,
.pink_wrapper,
.purple_wrapper {
  margin: 0 auto;
}

.main_container,
.rightSide,
.leftSide,
.right,
.left,
.bg-box-container {
  height: fit-content;
}
.navbar {
  background-color: transparent;
  margin-top: 65px;
  left: 0;
}

.navbar,
.headings_center,
.testimonials,
.description2::before,
.strap,
.wide {
  width: 100%;
}

.navbar,
.nav-item,
.btn,
.headings_center,
.bg-box,
.dots-vectors,
.dots,
.vectors,
.contact_head,
.elipse {
  align-items: center;
}

.container-fluid {
  padding: 0;
}

.navbar-brand {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  margin: auto 10px 0 0;
}

.circle,
.circle1,
.circle2,
.circle3,
.big-dot,
.small-dot,
.elipse {
  border-radius: 50%;
}

.circle,
.purple_wrapper,
.strap {
  background-color: #9c69e2;
}

.rectangle {
  width: 20px;
  height: 35px;
  border-radius: 20px;
  margin-top: auto;
}

.rectangle,
.pink,
.big-dot {
  background-color: #f063b8;
}

.navbar-nav {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  padding-right: 200px;
}

.navbar-nav,
.nav-item,
.btn,
.h4,
.h6,
.h7,
.lm {
  font-size: 16px;
}

.nav-item,
.h4,
.position {
  font-weight: 500;
}

.nav-item {
  display: flex;
  padding-right: 50px;
}

.nav-item,
.rd,
.h1,
.h2,
.h3-features,
.h5,
.h6,
.h7,
.h8,
.lm,
.name,
i {
  color: #212353;
}

.nav-item,
.pinkRight,
.footer-items {
  margin: auto 0;
}

.bold_item,
.btn,
.btn-learn,
.lm {
  font-weight: 800;
}

.btn {
  display: flex;
  width: 210px;
  height: 60px;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.btn,
.window1,
.window2,
.small-dot {
  background-color: #fff;
}

.btn,
.pink_wrapper,
.purple_wrapper {
  border-radius: 50px;
}

.rd {
  margin: 2px 15px 0 0;
}

header {
  margin: 170px 0;
}

.container-head {
  display: flex;
}

.rightSide {
  position: relative;
}

.rightSide,
.bg-box,
.bg-right {
  width: 50%;
}

.rightSide1 {
  left: -220px;
  top: 140px;
}

.img2 {
  position: absolute;
  width: 900px;
  height: 600px;
  left: -350px;
  top: 30px;
}

.h1,
.h2,
.h3-features {
  font-weight: 600;
}

.h1,
.h2,
.h5,
.h6,
.h5,
.h6,
.h7,
.h8,
.lm {
  font-family: "Lato";
}

.h1 {
  font-size: 80px;
  line-height: 88px;
  margin-bottom: 70px;
  z-index: 2;
}

.h2 {
  font-size: 40px;
  line-height: 52px;
}

.h2white {
  color: #ffffff;
  margin-bottom: 88px;
  position: absolute;
}

.h3 {
  font-size: 24px;
  line-height: 32px;
  z-index: 3;
}

.h4 {
  width: 65%;
  line-height: 29px;
  color: #4b5d68;
  z-index: 3;
}

.h4full {
  width: 80%;
  margin: 20px 0;
}

.h4features {
  width: 55%;
}

.h4-wide {
  width: 100%;
}

.h5 {
  font-size: 20px;
  font-weight: 900;
  margin: 0 0 10px 20px;
}

.h6 {
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.01em;
  margin-bottom: 25px;
}

.h7 {
  font-weight: 300;
  letter-spacing: 0.01em;
}

.h8 {
  font-size: 12px;
}

.h8,
.description {
  font-weight: 400;
}

.btn-learn {
  width: 170px;
  margin-top: 70px;
  color: #ffffff;
  font-size: 18px;
  box-shadow: none;
  background-color: #9c69e2;
}

.pink_wrapper,
header,
.bottom-elements,
.windows,
.window1,
.window2,
.dots,
.vectors,
.contact_head,
.head_right,
.data-container,
.brand-box,
.icons,
.footer-items {
  display: flex;
  flex-direction: row;
}

.pink_wrapper {
  width: 1117px;
  height: 560px;
  background-color: rgba(240, 99, 184, 0.15);
}

.pinkLeft {
  display: flex;
  margin: auto;
}

.img3 {
  width: 400px;
  height: 300px;
}

.pinkRight {
  padding-right: 90px;
}

.features {
  margin: 100px 0;
}

.headings_center {
  margin: 100px auto;
  text-align: center;
}

.bg-box-container {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
}

.bg-box {
  display: flex;
  height: 360px;
  background-position: right;
  background-size: contain;
}

.bg-box-container,
.bg-box,
.h2,
.description,
.brand-box {
  margin-bottom: 50px;
}

.bg-box:nth-child(1) {
  background-image: url(bg1.png);
}

.bg-box:nth-child(2) {
  height: 368px;
  background-image: url(bg2.png);
}

.bg-box:nth-child(3) {
  background-image: url(bg3.png);
}

.bg-box:nth-child(4) {
  background-image: url(bg4.png);
}

.bg-left {
  display: flex;
  padding-left: 70px;
}

.bg-right {
  position: relative;
  padding-left: 30px;
}

.bottom-elements {
  align-items: flex-end;
}

.lm {
  margin-right: 15px;
  text-decoration: none;
}

.testimonials {
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
}

.purple_wrapper {
  width: 1118px;
  height: 709px;
  padding: 111px 0 128px 60px;
}

.windows {
  position: absolute;
  height: 330px;
  margin-top: 140px;
}

.left {
  display: flex;
  justify-content: end;
}

.circle1 {
  width: 90px;
  height: 90px;
  margin: 60px 40px 180px 70px;
  background-image: url(man.jpg);
  background-size: contain;
}

.circle1,
.circle2,
.circle3 {
  background-position: center;
}

.name {
  font-size: 18px;
  font-weight: 900;
  line-height: 29px;
  margin-top: 80px;
}

.position {
  font-size: 14px;
  line-height: 160%;
  color: #9c69e2;
  margin-bottom: 19px;
}

.description {
  width: 90%;
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
}

.window1 {
  width: 645px;
  margin-right: 23px;
  box-shadow: 0px 20px 0px rgb(100 52 166 / 30%);
}

.window2 {
  width: 400px;
  border: 1px solid #9c69e2;
  margin-right: 14px;
  box-shadow: 0px 20px 0px rgb(101 82 126 / 10%);
}

.window1,
.window2 {
  height: auto;
  border-radius: 20px;
}

.circle2 {
  width: 90px;
  height: 90px;
  margin: 60px 30px 180px 30px;
  background-image: url(woman.jpg);
  background-size: cover;
}

.description2 {
  position: relative;
  line-height: 180%;
}

.description2::before {
  position: absolute;
  display: block;
  content: " ";
  height: 100%;
  background: linear-gradient(to left, #fff, transparent);
}

.circle3 {
  width: 90px;
  height: 90px;
  margin: 60px 30px 180px 30px;
  background-image: url(man2.jpg);
  background-size: cover;
}

.bg-box,
.circle2,
.circle3 {
  background-repeat: no-repeat;
}

.dots-vectors {
  display: flex;
  margin: 528px 0;
}

.dots-vectors,
.contact_head,
.data-container,
.footer-items {
  justify-content: space-between;
}

.big-dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.small-dot {
  width: 5px;
  height: 5px;
  margin-right: 10px;
}

.vectors {
  display: inline;
  padding-right: 75px;
}

.strap {
  height: 2px;
  margin-bottom: 100px;
  opacity: 0.2;
}

.contact_head {
  margin-bottom: 130px;
}

.head_right {
  padding-bottom: 60px;
}

.pink {
  margin: 0 30px 0 0;
}

.btn-span {
  margin-right: 15px;
}

.data-container {
  margin-bottom: 100px;
}

.address,
.about-items,
.help-items,
.social-media {
  width: 25%;
}

.address {
  margin-right: 50px;
}

.about-items {
  padding-left: 130px;
  margin-right: 25px;
}

.help-items {
  padding-right: 130px;
}

.data_p {
  margin-bottom: 65px;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 25px;
}

i {
  font-size: 50px;
  opacity: 0.1;
  margin-right: 30px;
}

.footer-items {
  margin-bottom: 100px;
}

.elipse {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  background-color: #b9b0c9;
  opacity: 0.2;
  margin-right: 50px;
}
